body{
    background-image: url(../images/country-quilt.png);
}

nav.border-secondary{
    border-bottom-color: #33111f !important;
    border-bottom-width: 2px !important;
}

footer.border-primary{
    border-top-color: #C5728E !important;
    border-top-width: 4px !important;
}

.bg-info{
    background-color: #C5728E !important;
}

.btn-info {
    background-color: #C5728E !important;
    border-color: rgb(160, 92, 115) !important;
}
.border-success{
    border-bottom-color: #C5728E !important;
}

div > h2 {
    color: #33111f;
}